root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# .NET Coding Conventions
[*.{cs,csx}]
dotnet_diagnostic.IDE0090.severity = silent # IDE0090: Use 'new(...)'

[*.md]
trim_trailing_whitespace = false
